In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Boston.csv")
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [10]:
dataset.shape

(16, 14)

In [5]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["House_Price"]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [11]:
x_train,x_test,y_train,y_test

(       CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
 11  0.11747  12.5   7.87     0  0.524  6.009  82.9  6.2267    5  311     15.2
 14  0.63796   0.0   8.14     0  0.538  6.096  84.5  4.4619    4  307     21.0
 0   0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
 3   0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
 4   0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7
 13  0.62976   0.0   8.14     0  0.538  5.949  61.8  4.7075    4  307     21.0
 12  0.09378  12.5   7.87     0  0.524  5.889  39.0  5.4509    5  311     15.2
 7   0.14455  12.5   7.87     0  0.524  6.172  96.1  5.9505    5  311     15.2
 10  0.22489  12.5   7.87     0  0.524  6.377  94.3  6.3467    5  311     15.2
 2   0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
 15  0.62739   0.0   8.14     0  0.538  5.834  56.5  4.4986    4  307     21.0
 5   0.02985   0.0   2.18     0  0.458  6.430  58.7  6.0622    3  222     18.7

          B  LSTAT
 11  396.90  13.27
 14  380.02  10.26
 0   396.90   4.98
 3   394.63   2.94
 4   396.90   5.33
 13  396.90   8.26
 12  390.50  15.71
 7   396.90  19.15
 10  392.52  20.45
 2   392.83   4.03
 15  395.62   8.47
 5   394.12   5.21  ,
       CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  PTRATIO  \
 8  0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311     15.2
 6  0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5  311     15.2
 1  0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2  242     17.8
 9  0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5  311     15.2

         B  LSTAT
 8  386.63  29.93
 6  395.60  12.43
 1  396.90   9.14
 9  386.71  17.10  ,
 11    18.9
 14    18.2
 0     24.0
 3     33.4
 4     36.2
 13    20.4
 12    21.7
 7     27.1
 10    15.0
 2     34.7
 15    19.9
 5     28.7
 Name: House_Price, dtype: float64,
 8    16.5
 6    22.9
 1    21.6
 9    18.9
 Name: House_Price, dtype: float64)

In [12]:
dataset.shape

(16, 14)